{% extends "PostBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h1>Créer un nouveau groupe</h1>
        <br>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock content %}