{% extends "PostBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-10 col-lg-offset-1">
        <div class="page-header">
            <h1>Liste de vos amis :</h1>
        </div>
    </div>
    <div class="well col-lg-12 container">
        <table class="table table-striped">
            {% if users|length > 0  %}
                <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <div class="col-lg-1">
                                <a href="{{ path('contact_remove_friend', {'id': user.id}) }}">
                                    <span class="glyphicon glyphicon-remove btn btn-warning btn-xs"></span>
                                </a>
                            </div>
                            <div class="col-lg-1">
                                <a href="{{ path('user_read', {'id': user.id}) }}">
                                    <span class="glyphicon glyphicon-eye-open btn btn-default btn-xs"></span>
                                </a>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% else %}
                <br>
                <div class="alert alert-dismissable alert-info">
                    Aucun utilisateurs en base
                </div>
            {% endif %}
        </table>
    </div>
{% endblock content %}