{% extends "PostBundle::layout.html.twig" %}

{% block content %}
    <div class="col-xs-12 col-sm-9">
        <br>
        <div class="jumbotron">
            <a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>
            <h1>Hello, world!</h1>
            <p>Voici la page d'accueil, le mur d'actualitée sur lequel on verra les posts les plus récent</p>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>Heading</h2>
                <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                    friendly HTML, CSS and Javascript.</p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
            </div>
            <!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>Heading</h2>
                <p>Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to
                    facilitate responsive Web design. </p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
            </div>
            <!--/span-->

            <div class="col-6 col-sm-6 col-lg-4">
                <h2>Heading</h2>
                <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                    friendly HTML, CSS and Javascript.</p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
            </div>
            <!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
                <h2>Heading</h2>
                <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                    friendly HTML, CSS and Javascript.</p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
    </div>
    <!--/span-->
{% endblock content %}